
.onboarding-page {
    margin: auto;
}

.onboarding-header {
    background-color: #EEF0F2;
    height: 21vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onboarding-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.onboarding-message-1 {
    width: 28%;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.onboarding-message-2 {
    width: 35%;
    padding: 10px;
}
  
.dashboard-button {
    padding: 16px;
    margin-top: 25px;
    border-radius: 8px;
    background-color: #0057da;
    color: white;
    border: none;
    cursor: pointer;
    width: 258px;
    font-size: 16px;
    font-weight: 800;
}

.onboarding-images-container {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9); 
    
}

.shield-image-container {
    width: 200px;
    height: 200px;
    position: relative; 
}


.verified-image-container {
    position: absolute; 
    top: -10px; 
    right: -10px; 
    width: 65px;
    height: 65px;
    background-color: #0057DA;
    border-radius: 14px;
}

.verified-image{
    object-fit: cover;
    flex-shrink: 0;
}

.leftwing-image-container {
    width: 250px;
    height: 100%;
}

.leftwing-image {
    width: 120%;
    height: 100%;
    margin-top: -30px;
}

.rightwing-image-container {
    width: 250px;
    height: 100%;
}

.rightwing-image {
    width: 120%;
    height: 100%;
    margin-top: -30px;
    margin-left: -30px;
    transform: scaleX(-1) rotate(-10deg);
    transform-origin: center center;

}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {

    .onboarding-images-container {
        transform: scale(0.75); 
    }

    .onboarding-message-1 {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .onboarding-message-2 {
        width: 90%;
        padding: 10px;
    }

    .dashboard-button {
        margin-bottom: 25px;
    }

    .shield-image {
        width: 175px;
        height: 175px;
    }

}

@media (max-width: 575px) {
    .rightwing-image {
        margin-left: -5px;
    }
    .leftwing-image {
        margin-left: -10px;
    }
}