
/* FinancialInfoPage.js */

.financial-info-page {
    font-family: 'Manrope', sans-serif; /* Replace with your font */
    margin: auto;
  }

.financial-info-header {
  background-color: #EEF0F2;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  .financial-info-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
  }

  .financial-info-container {
    display: flex;
  }

  .form-section-1 {
    width: 70%;
    margin: 8%;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative; /* Required for the pseudo-element positioning */
  }
  
  .form-section-1::after {
    content: '';
    position: absolute;
    right: -20%; /* Adjust this value to position the line correctly */
    top: 0;
    bottom: 0;
    width: 2px; /* Thickness of the line */
    background-color: #EEF0F2; /* Color of the line */
    z-index: 1;
  }

  .form-section-2 {
    width: 130%;
    margin: 8%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-right: 5%;
  }
  
  .section-header {
    display: flex;
    font-size: 18px; /* Replace with font-size from your design system */
    margin-bottom: 15px;
    font-weight: 600; /* Replace with font-weight from your design system */
  }
  
  .interests {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
.financial-info-next {
  display: flex;
  justify-content: right;
  padding-right: 5%;
  padding-top: 0px;
}

.section-header span {
  font-size: 18px;
  font-weight: 800;
}

  /* @media (max-width: 768px) {
    .financial-info-container {
      padding: 10px;
    }
  
    .interests {
      justify-content: center;
    }
  } */


  /* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .financial-info-container {
    flex-direction: column; /* Change to vertical layout */
  }

  .form-section-1,
  .form-section-2 {
    width: 100%; /* Full width for mobile */
    margin: 4% 0; /* Adjust margin for mobile, remove side margins */
    margin-left: 0px;
    padding-left: 20px;
  }

  .form-section-1::after {
    display: none; /* Hide the vertical line in mobile view */
  }

  .interests {
    margin-top: 25px;
    justify-content: center; /* Center the interests buttons */
    gap: 10px; /* Adjust gap for smaller screens */
  }

  .financial-info-next {
    justify-content: center; /* Center the next button */
    padding-right: 0; /* Remove padding */
    margin-bottom: 15px;
  }


  /* Adjust other styles as needed for mobile view */
}


  