
.step-names {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    padding: 0 13%; 
    margin-top: 15px;
    text-align: center;
  }
  
  .step-name-1 {
    margin-left: -12px;
    font-weight: 800;
    
  }
  .step-name-2 {
    margin-left: 30px;
    font-weight: 800;
  }
  .step-name-3 {
    margin-right: -45px;
    font-weight: 800;
  }
  

  @media (max-width: 480px) {
    .step-name-1 {
      margin-left: -15px;
    }
    .step-name-2 {
      margin-left: -10px;
    }
    .step-name-3 {
      margin-right: -8px;
    }

  }


