/* ProgressHeader.css */

.step-names {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between elements */
    position: relative;
    padding: 0 13%; /* Add padding on sides if needed */
    margin-top: 15px;
  }
  
  .step-name-1 {
    margin-left: -12px;
    font-weight: 800;
  }
  .step-name-2 {
    margin-left: 30px;
    font-weight: 800;
  }
  .step-name-3 {
    margin-right: -45px;
    font-weight: 800;
  }
  