/* Signup Header styles */
.signup-header {
  display: flex;
  align-items: center;
  background-color: #eef0f2;
  height: 12vh;
  min-height: 48.09px;
  padding-left: 36px;
}

.signup-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-logo-container span {
  padding-left: 12px;
  color: #0057DA;
  font-size: 23px;
  font-weight: 800;
}

.compound-logo-image {
  width: 40px;
  height: 40px;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .signup-header {
    justify-content: center;
    padding-left: 0px;
  }
}