.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  padding: 0px, 16px, 0px, 16px;
  gap: 8px;
}

.signup-form-group label {
  font-weight: 600;
}

.signup-form input,
.signup-form button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #eef0f2;
  border: none;
  height: 45px;
  margin-bottom: 15px;
}

.signup-form button {
  background-color: #0057da;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 800;
  font-size: 16px;
}
